:root {
  --color-cabecera-pie: #2d3141;
  --color-principal: #d8d5d8;
  --color-aside: #adacb5;
}
body {
  color: #333;
}
.navbar,
.pie {
  background-color: var(--color-cabecera-pie);
  color: #fff;
  height: 100px;
}
.principal {
  background-color: var(--color-principal);
  min-height: calc(100vh - 200px);
}
.principal p {
  font-size: 13px;
}
.aside {
  background-color: var(--color-aside);
}
aside li {
  font-size: 13px;
}
